{% extends 'layout.html' %}
{% load static %}
{% block content %}
<!-- <head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->

  <!-- Custom styles for this template -->
<!--   <link href="{% static 'css/style.css' %}" rel="stylesheet">
 -->
</head>
<body>
	<div class="container">
		{% if user.is_authenticated %}
		<h1 style="font-size: 4vw">MotoGuardian Dashboard</h1>
		<h2 style="font-size: 2vw"> Welcome {{ user.first_name }}!</h2>

		
		{% endif %}

	</div>
<!-- 	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG3cS8dmtfQsrObW7c5YmR1Inkf9uHvCc&callback=initMap">
    </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

</body>
{% endblock %}
