{% extends 'layout_dashboard.html' %}
{% load static %}
{% block content %}
<!-- <head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->

  <!-- Custom styles for this template -->
<!--   <link href="{% static 'css/style.css' %}" rel="stylesheet">
 -->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				{% if user.is_authenticated %}
				<h1>MotoGuardian Dashboard</h1> 
				<h2> Welcome {{ user.first_name }}!</h2>
				{% endif %}
			</div>
			<div class="col-sm-2 text-center align-content-center align-middle my-auto">
				<a href="{% url 'add-device' %}">
					<button class="btn btn-outline-success "  style="height:75%; width: auto;">
						
						<i class="fa fa-plus" aria-hidden="true"></i>
						<i class="fa fa-motorcycle" aria-hidden="true"></i>
						
					</button>
				</a>
			</div>
		</div>			
	</div>
	

		<div class="container">
			<div class="row">
			{% if devices %}
			{% for device in devices %}
				
				<div class="col-sm-6">
					<div class="card">
					  <div class="card-header">
						  	<a href="{% url 'device-detail' device.mg_imei %}">
							  <h3><i class="fa fa-motorcycle" aria-hidden="true"></i>
							   MotoGuardian no. {{ forloop.counter }}</h3>
							</a>
						<b>	 
							<i class="fa fa-user" aria-hidden="true"></i>
							 	{{ device.first_name }}'s 
							
							{{device.year}} {{device.make}}  {{device.model}}
						</b>
						  
						</div>
					  <div class="card-body">
					    <p class="card-text">
					    	
					  		
					  	
					  		
					  		<b>Status:</b> 
					  		{% if not device.trip_tracking %}
					  		<b class="text-danger">Disarmed</b>
					  		<i class="fa fa-unlock text-danger" aria-hidden="true"></i>
					  		{% else %}
					  		<b class="text-success">Armed</b>
							<i class="fa fa-lock text-success" aria-hidden="true"></i>
					  		{% endif %} <br>
					  		

					  		
					  		<b>Current Location:</b> <br>

					  		<b>Theft Alerts: </b> 
					  		 

					    </p>
					    <a href="{% url 'device-detail' device.mg_imei %}" class=card-link btn btn-success">
					    	<i class="fa fa-info-circle" aria-hidden="true"></i> More Info
					    </a>
					   

					  </div>
					</div>
				</div>
			
			{% endfor %}

			{% else %}
				<div class="card">
				  <div class="card-body">
				    <h4 class="card-title">No MotoGuardians Registered</h4>
					    <p class="card-text">
					      "some text"
					    </p>
				    <a href="{% url 'add-device' %}" class="btn btn-primary">Add Device</a>
				  </div>
				</div>

			{% endif %}
			
			</div>
		</div>


<!-- 	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG3cS8dmtfQsrObW7c5YmR1Inkf9uHvCc&callback=initMap">
    </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

</body>
{% endblock %}
