{% extends 'layout_dashboard.html' %}
{% load static %}
{% block content %}
{% for device in devices %}
<div class="col-sm-6">
	<div class="card">
	  <div class="card-header">
		  	<a href="#">
			  <h3><i class="fa fa-motorcycle" aria-hidden="true"></i>
			   MotoGuardian</h3>
			</a>
		  <p><b>IMEI:</b> {{device.mg_imei}} —
		  	<i class="fa fa-phone" aria-hidden="true"></i> {{ device.mg_phone }}
			</p>
		  
		</div>
	  <div class="card-body">
	    <p class="card-text">
	    	<b>Rider Name: </b>{{ device.first_name }} {{ device.last_name }}<br>
	  		<b>Make:</b> {{device.make}}<br>
	  		<b>Model:</b> {{device.model}}<br>
	  		<b>Year:</b> {{device.year}}<br>
	  		<b>Color:</b> {{device.color}}<br>
	  		<b>Emergency Contact:</b> {{device.emergency_name}}
	  		<i class="fa fa-phone" aria-hidden="true"></i>
	  		{{device.emergency_number}}<br>
	  		<b>Sensitivity:</b> {{device.sensitivity}}<br>
	  		
	  		<b>Trip Tracking:</b> 
	  		{% if not device.trip_tracking %}
	  		Deactivated
	  		<i class="fa fa-times text-danger" aria-hidden="true"></i>
	  		{% else %}
	  		Activated
	  		<i class="fa fa-check text-success" aria-hidden="true"></i>
	  		{% endif %} <br>
	  		

	  		
	  		<b>Alarm:</b> 
	  		{% if not device.anti_theft %}
	  		Deactivated
	  	  <i class="fa fa-times text-danger" aria-hidden="true"></i>
	  		{% else %}
	  		Activated
	  		<i class="fa fa-check text-success" aria-hidden="true"></i>
	  		{% endif %} 

	    </p>
	    
	    <a href="{% url 'device-update' device.mg_imei %}" class="card-link">
			<i class="fa fa-cog" aria-hidden="true"></i> Edit
		</a>

	  </div>
	</div>
</div>
{% endfor %}
{% endblock %}
