{% extends 'layout_dashboard.html' %}
{% load static %}
{% block content %}

<head>
	<link href="{% static 'css/trip.css' %}" rel="stylesheet">
</head>
<!-- <style type="text/css">
	#map{
		height:500px;
		width: 500px;
		
	}
</style> -->
<div class="container">
	
	<div class="card">
	  <div class="card-body">

	    <h4 class="card-title">Trip History</h4>
	    {% if trip_info.query %}
		<b>Trip #{{ trip_info.trip_number }} </b> on {{ trip_info.datetime }}
		
	    {% else %}
	    <b>Most Recent Trip</b> on {{ trip_info.datetime }}<br>
	    
	    {% endif %}


	    <p class="card-text">
	      <div id="map"> </div>
	    </p>
	    {% if trip_info.query %}
		<b>Average Speed: </b>{{trip_info.avg_speed}} mph<br>
	    <b>Average Lean Angle: </b>{{trip_info.avg_lean}}&#xb0;
	    {% else %}
	    <b>Average Speed: </b>{{trip_info.avg_speed}} mph<br>
	    <b>Average Lean Angle: </b>{{trip_info.avg_lean}}&#xb0;
	    {% endif %}
	    <!-- <a href="#!" class="card-link">Card link</a>
	    <a href="#!" class="card-link">Another link</a> -->
	  </div>
	  	<div class="card-footer">
    		<h4>Select Trip Number:</h4> 
		{% for item in trip %}
			<form action="{% url 'device-trip' item.device_IMEI %}" method="get" name="TripForm">
			{% endfor %}
			    <select name="trip_number" onchange="TripForm.submit()" class="selectpicker">
			    	 <option value="" selected disabled hidden>Choose here</option>
			        {% for num in distinct_trip %}
			        <option value="{{num.trip_number}}">{{num.trip_number}}</option>
			       	{% endfor %}
			    </select>
			    
			</form>
  		</div>
	</div>

</div>

<script type="text/javascript">
	var dict_list = [];
	{% for item in trip %}
	 // create an empty array

		dict_list.push({
		    lat: {{item.lat}},
		    lng: {{item.lng}}
		});
	{% endfor %}
	console.log(dict_list)
</script>
<script type="text/javascript">
	function initMap() {
	  var map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 15,
	    center: {lat: 32.877679, lng: -117.214136},
	    
	  });

	  var flightPath = new google.maps.Polyline({
	    path: dict_list,
	    geodesic: true,
	    strokeColor: '#FF0000',
	    strokeOpacity: 1.0,
	    strokeWeight: 3
	  });
	  // var markers = [];//some array
	  var bounds = new google.maps.LatLngBounds ();
	  for (var i = 0, LtLgLen = dict_list.length; i < LtLgLen; i++) {
	    //  And increase the bounds to take this point
	    bounds.extend (dict_list[i]);
	  }
	  for (var i = 0; i < dict_list.length; i++) { 
	    if (i == 0 ){
	    	var marker = new google.maps.Marker({
	    	  position: dict_list[i],
	    	  map: map,
	    	  label: 'End',
	    	  icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',

	    	});
	    }
	    else if(i == (dict_list.length -1)){

		    var marker = new google.maps.Marker({
		      position: dict_list[i],
		      map: map,
		      label: 'Start',
		      icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',

		    });

		}
		else{
			// var marker = new google.maps.Marker({
		 //      position: dict_list[i],
		 //      map: map,
		     
		      

		 //    });
		}
	    // google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
	    //   return function() {
	    //     // infowindow.setContent('content');
	    //     infowindow.open(map, marker);
	    //   }
	    // })(marker, i));
	  }
	  //  Fit these bounds to the map
	  map.fitBounds (bounds);
	  // marker.setMap(map);
	  flightPath.setMap(map);

	}
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Lg54i0EXC09HSeRSBF9OWXLdDEKNjmU&callback=initMap">
</script>
{% endblock %}