.container {
	margin-top: 5px;
}

.row {
	margin-left: 5px;
}

@media screen and (max-width: 475px) {
	.title {
		margin-left: 5px;
		font-size: 2em;
	}
    .question {
        margin-left: 5px;
        font-size: 1.5em;
    }
    .answer {
        margin-left: 5px;
        margin-right: 5px;
    }
}