html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
#content-block{
  margin:0px;
}

a.navbar-brand {
    font-size: 2rem;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
  background-position: 50% 50%;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

@media (max-width: 425px){
  .swot {
    width: 1em;
    height: 1em;
  }
  .compHead {
    font-size: 1em;
  }
  .choice {
    font-size: .75em;
  }
}

.swot {
    width:75%;
    height:75%;
}

.compHead {
    font-size: 2em;
}

.choice {
    font-size: 1.25em;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.competitve-analysis .container {
  padding: 7rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  line-height: 75px;
}

.copy {
  margin: 0 auto;
}

#logo {
  height: 8rem;
  width: auto;
}

.main-form {
    width: 450px;
    margin: auto;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

#latlng {
  width: 225px;
}

.open-color {
    color:red;
    margin-left:75px;
}

#sysstat {
  margin-left:35px;
}

.centered {
    margin: 0 auto;
    width: 80%;
}

.navbar .navbar-nav .nav-link {
    color: #FFFFFF !important;
}


.navbar .navbar-nav .nav-item .left-btn{
    margin: 0rem 0.5rem 0rem 0rem;
}

.navbar .navbar-nav .nav-item .right-btn{
    margin: 0rem 0rem 0rem 0.5rem;
}

.round {
  border-radius: 5px;
}

.rightmargin {
  margin: 0px 5px 0px 0px;
}

ul>li>a{
  font-size:15px;
}

button#logout{

}

ul>li>button:hover {
  cursor: pointer;
}

#login {
  margin-top: 80px;
}

#loginTitle {
  margin-top: 15px;
  font-size: 2em;
}
