{% extends 'layout.html' %}
{% load static %}
{% block content %}
<head>
	<title>MotoGuardian-Login</title>
</head>
<body>
    <div class="container" id="login">
    	<h1 id="loginTitle">Login to MotoGuardian Dashboard</h1>
    	
    	<form method="post">
    		{% csrf_token %}

            {% for field in form %}
                    <p>{{ field.label }}:  {{ field }} 
                        <i style="font-size: 10px;">{{ field.help_text }}</i>
                    </p>    
                        {% for error in field.errors %}
                      <p class="text-danger" style="font-size: 12px;">{{ error }}</p>
                  {% endfor %}
                
                {% endfor %}
            <p><input class="btn btn-primary" type="submit" value="Login" ></p>
            {% if form.errors %}
            <p class="text-danger">Invalid username or password</p>
            Don't have an account? Register here<br>
            <a class="btn btn-secondary" href="{% url 'register' %}">Register</a> 
            {% elif next %}
            <p class="text-danger">Must login to access dashboard</p>
             Don't have an account? Register here<br>
             <a class="btn btn-secondary" href="{% url 'register' %}">Register</a>
            {% endif %}

    		

    	</form>
    </div>
</body>
{% endblock %}
