{% extends 'layout_dashboard.html' %}
{% load static %}
{% block content %}
<head>
	<title>MotoGuardian-Register</title>

</head>
<body>
	<div class="container">
		<h1>Register for an Account</h1>
		<div class="col-sm-6">
			<form id="register"  method="post" action="{% url 'register' %}">
				{% csrf_token %}

				{% for field in form %}
					<p>{{ field.label }}:  {{ field }} 
						<i style="font-size: 10px;">{{ field.help_text }}</i>
					</p>	
						
						{% for error in field.errors %}
			          <p class="text-danger" style="font-size: 12px;">{{ error }}</p>
			      {% endfor %}
				
				{% endfor %}

				<input class="btn btn-secondary" type="submit" value="Submit">
				{% if form.errors %}
					<p>There are errors in the form!</p>

				{% endif %}

			</form>
		</div>
	</div>
</body>
{% endblock %}
