{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MotoGuardian Landing Page">
    <meta name="author" content="Team MotoGuardian">

    <title>MotoGuardian</title>

    <!-- Bootstrap JQuery library -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-dark static-top">
      <div class="container">
        <a class="nav navbar-brand" href="{% url 'landing' %}">MotoGuardian</a>
        <!-- <a class="btn btn-primary" href="{% url 'register' %}">Register</a> -->
        <ul class="nav navbar-nav">
          <div class="container">
            <div class="row">
              <div class="col">
                <li><a class="btn btn-primary" href="{% url 'login' %}">Login</a></li>
              </div>
              

              <div class="col">
                <li><a class="btn btn-primary" href="{% url 'register' %}">Register</a></li>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </nav>
    <div id="content-block">
      {% block content %}
      {% endblock %}
    </div>
    <!-- Footer -->
    <footer class="footer bg-dark ">
      <div class="container">
        <div class="row justify-contents-center">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <p class="text-muted small mb-4 mb-lg-0">&copy; MotoGuardian 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/landing_cta.js' %}"></script>

  </body>

</html>
