{% extends 'layout.html' %}
{% load static %}
{% block content %}
<head>
	<title>FAQs</title>

	<!-- Custom styles for this template -->
    <link href="{% static 'css/faqs.css' %}" rel="stylesheet">
</head>
<body>

	<div class="container ">

		<h1 class="title">Frequently Asked Questions</h1>
		<hr>

		<ul>
			<li>
				<div class="row">
					<h3 class="question">What is MotoGuardian?</h3>
				</div>
			</li>
			<div class="row">
				<p class="answer">MotoGuardian is an Internet of Things(IOT) device that was developed to improve motocycle security. The device is equipped with an array of sensors that focus on anti-theft and emergency contact capabilities.</p>
			</div>

			<li>
				<div class="row">
					<h3 class="question">How much does MotoGuardian cost?</h3>
				</div>
			</li>
			<div class="row">
				<p class="answer">The cost for MotoGuardian is still to be determined. Please check back soon!</p>
			</div>
		</ul>

	</div>

</body>
{% endblock %}
