{% extends 'layout_dashboard.html' %}
{% load static %}
{% block content %}
<head>
	<title>FAQs</title>

	<!-- Custom styles for this template -->
    <link href="{% static 'css/faqs.css' %}" rel="stylesheet">
</head>
<body>

	<div class="container ">

		<h1 class="title">Frequently Asked Questions</h1>
		<hr>

		<ul>

			<div class="row">
				<li>
				<h3 class="question">What is MotoGuardian?</h3>
				</li>
			</div>

			<div class="row">
				<p class="answer">MotoGuardian is an Internet of Things (IOT) device that was developed to improve motocycle security. The device is equipped with an array of sensors that focus on anti-theft and emergency contact capabilities.</p>
			</div>

			<li>
				<div class="row">
					<h3 class="question">How much does MotoGuardian cost?</h3>
				</div>
			</li>
			<div class="row">
				<p class="answer">The cost for MotoGuardian is still to be determined. Please check back soon!</p>
			</div>

			<li>
				<div class="row">
					<h3 class="question">If I crash, will MotoGuardian notify the police and emergency services?</h3>
				</div>
			</li>
			<div class="row">
				<p class="answer">No, because of the various legal issues depending on jurisdictions, MotoGuardian will notify a designated emergency contact.</p>
			</div>

			<li>
				<div class="row">
					<h3 class="question">Will any data that MotoGuardian collects be sold to third parties (e.g. insurance companies or claims management companies)?</h3>
				</div>
			</li>
			<div class="row">
				<p class="answer">No, the MotoGuardian team will never sell any of your data to third parties. </p>
			</div>

			<li>
				<div class="row">
					<h3 class="question">Does MotoGuardian track and provide my speed data to law enforcement?</h3>
				</div>
			</li>
			<div class="row">
				<p class="answer">This question is one that often causes concern from our customers. MotoGuardian has an opt-in feature to record your speed during your trip for performance analytics. You can easily opt-out of the service - no strings attached. However, MotoGuardian will NOT provide speed data to law enforcement officials.</p>
			</div>

			<li>
				<div class="row">
					<h3 class="question">Does MotoGuardian require a subscription for the data connection between the device and the web application?</h3>
				</div>
			</li>
			<div class="row">
				<p class="answer">No, there are no subscription fees associated with the MotoGuardian device. You will need to purchase a 2G SIM card from a mobile company (e.g. Ting) for the device to sync data to the web application.</p>
			</div>


		</ul>

	</div>

</body>
{% endblock %}
