{% extends 'layout_dashboard.html' %}
{% load static %}
{% block content %}
<head>
	<title>Getting Started</title>

	<!-- Custom styles for this template -->
    <link href="{% static 'css/getting_started.css' %}" rel="stylesheet">
</head>
<body>

	<div class="container">
		<h1 class="title">Getting Started</h1>
		<hr>

		<h6 class="info">This page gives you information on getting started with your MotoGuardian and instructions on how to setup and install the device on your vehicle.</h6>

		<table class="table table-bordered table-hover">
			<tbody>
				<tr>
					<th scope="row">Step 1.</th>
					<td><img class="img-responvive pic" src="{% static 'img/Step1.jpg' %}" alt="Step 1"></td>
					<td>This is the first step.</td>
				</tr>
				<tr>
					<th scope="row">Step 2.</th>
					<td><img class="img-responvive pic" src="{% static 'img/Step2.jpg' %}" alt="Step 2"></td>
					<td>This is the second step.</td>
				</tr>
				<tr>
					<th scope="row">Step 3.</th>
					<td><img class="img-responvive pic" src="{% static 'img/Step3.jpg' %}" alt="Step 3"></td>
					<td>This is the third step.</td>
				</tr>
				<tr>
					<th scope="row">Step 4.</th>
					<td><img class="img-responvive pic" src="{% static 'img/Step4.jpg' %}" alt="Step 4"></td>
					<td>This is the fourth step.</td>
				</tr>
				<tr>
					<th scope="row">Step 5.</th>
					<td><img class="img-responvive pic" src="{% static 'img/Step5.jpg' %}" alt="Step 4"></td>
					<td>This is the fourth step.</td>
				</tr>
				<tr>
					<th scope="row">Step 6.</th>
					<td><img class="img-responvive pic" src="{% static 'img/Step6.jpg' %}" alt="Step 4"></td>
					<td>This is the fourth step.</td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
{% endblock %}
