{% extends 'layout_dashboard.html' %}
{% load static %}
{% block content %}
<head>
    <title>MotoGuardian Status</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/status.css' %}" rel="stylesheet">

</head>

<body>
    <div class="container ">
      <h3>MotoGuardian Status and Location</h3>

      <div class="flex">
        <div id="status" class="inline text-center">
          <h4 id="statTitle">Device Status</h4>
          <i class="fas fa-lock fa-10x lock"></i>
          <h4 id="sysStat">ARMED</h4>
        </div>

        <!--The div element for the map -->
        <div id="map" class="inline"></div>
      </div>

      <!--Load the API from the specified URL
      * The async attribute allows the browser to render the page while the API loads
      * The key parameter will contain your own API key (which is not needed for this tutorial)
      * The callback parameter executes the initMap() function
      -->
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-7ugEPy7xpL6Ggj_3HaROjRtIhSW4mDQ&callback=initMap">
      </script>

      <script src="{% static '/js/status.js' %}"></script>
    </div>
</body>
{% endblock %}